<h1><%= @article.title %><%= link_to "âœï¸", edit_article_path%><%= link_to "ðŸ—‘ï¸", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h1>
<br>
<p><%= @article.content %></p>
<br>
<%= link_to "Back to list", articles_path%>
